.form {
    width: 870px;
    height: 1556px;
    display: flex;
    flex-direction: column;
}
.delay-label {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 16px;
    gap: 8px;
    width: 360px;
    height: 72px;

}
.delay-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}
.delay-input:hover {
    border: 1px solid #000;
}
.delay-input:active  {
    border: 1px solid #4e75ff;
}
.fieldset-block {
    width: 360px;
    height: 78px;
    display: flex;
    gap: 48px;
    margin-bottom: 24px;
    border-radius: 4px;
    padding: 0px 0px;
}
.input-radio {
    display: flex;
    align-items: center;
}
.btn-form {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    color: white;
    border: none;
    margin-bottom: 32px;
}
.btn-form:hover {
    background: #6c8cff;
}   